<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To The Iron Blog</title>
</head>
<body>
{{^user}}
<form action="/login" method="get">
    <button type="submit">log in</button>
</form>
{{/user}}
{{#user}}
<form action="/add-message" method="post">
    <input type="text" placeholder="type ya message brah" name="text"/>
    <button type="submit">Submit Brah</button>
</form>
<table>
    <tr>
        <th>#</th>
        <th>Message</th>
        <th>Submitted by...</th>
        <th></th>
        <th></th>
    </tr>
    {{#messages}}
    <tr>
        <td>{{id}}</td>
        <td>{{text}}</td>
        <td>{{#user}}{{username}}{{/user}}</td>
        <td>
            {{#isMe}}
            <form action="/edit-message" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Edit</button>
            </form>
            {{/isMe}}
        </td>
        <td>
            {{#isMe}}
            <form action="/delete-message" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Delete</button>
            </form>
            {{/isMe}}
        </td>
    </tr>
    {{/messages}}
</table>
{{/user}}
</body>
</html>